<div class="containerr">
    <div class="login-container">
        <div class="login-info mark-font">
            <h1>Olá,</h1>
            <p>Para continuar navegando de forma <br> segura, efetue o login na rede.</p>
        </div>
        <div class="login-form mark-font">
            <h2>Login</h2>
            <form
                class="login-form"
                [formGroup]="loginForm"
                (change)="errorHandler()"

            >
                <div class="input" style="margin-bottom: 30px;">
                    <input
                        id="email"
                        type="email"
                        formControlName="email"
                        [@warning]="isEmailError ? 'yellow' : 'normal'"
                        [(ngModel)]="email"
                        placeholder="Usuário"
                    >
                    <img
                        [class.out-input]="email == ''" [class.in-input] ="email != '' && email != ' '"
                        src="../../../assets/icon-user.svg"
                        id="user-icon-default"
                    >
                </div>
                <div class="input" style="margin-bottom: 30px;">
                    <input
                        id="password"
                        type="password"
                        formControlName="password"
                        [(ngModel)]="password"
                        [@warning]="isPasswordError ? 'yellow' : 'normal'"
                        placeholder="Senha"
                    >
                    <img
                        [class.out-input]="password == ''" [class.in-input] ="password != '' && password != ' '"
                        src="../../../assets/icon-password.svg"
                        id="password-icon-default"
                    >
                </div>
                <label *ngIf="isLoggedIn else errorMessage"></label>
                <button
                    type="submit"
                    (click)="login()"
                    [disabled]="!loginForm.valid">
                    Continuar
                </button>
            </form>
            <div class="link-wrapper">
                <span>Nao possui uma conta?</span>
                <a id="link" href="/register">ㅤCadastre-se</a>
            </div>
        </div>
    </div>
    <div class="logo-container">
        <img src="../../../assets/compass02.png" id="logo" alt="Logo">
        <img src="../../../assets/compass01.png" id="bg" alt="Notebook">
    </div>
</div>

<ng-template #errorMessage>
    <p class="errorMessage mark-font">Ops, usuario ou senha invalidos. <br> Tente novamente!</p>
</ng-template>
